.pages-links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.link {
  text-decoration: none;
  color: black;
}

.settings {
  width: 10%;
  text-align: right;
  padding-right: 20px;
}

.settings-button {
  border: none;
  background-color: #f8f9fa;
}

.logout {
  width: 5%;
  display: flex;
}

.logout-button {
  border: none;
  background-color: #f8f9fa;
}

.control-panel {
  display: flex;
}

.control-panel__filter-expense {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.control-panel__actions-buttons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.filter-expense {
  width: 80%;
}
